<%= content_for(:title)       { t ".title" }       %>
<%= content_for(:description) { t ".description" } %>
<%= content_for(:image_url) { image_url 'social/alumni_facebook_card.png' } %>


<h1>
  <%= t(".our_alumni_details_html", count: (@statistics['alumni']['total'] / 10) * 10) %>
</h1>

<div class="container stories-container">
  <% @stories.each_slice(2) do |stories| %>
    <div class="stories-bundle">
      <% stories.each do |story| %>
        <div class="story-container" style="background-image: url('<%= story["picture"]%>')">
          <main>
            <div class="story-card-title">
              <%= story["title"][locale.to_s] || story["title"]["en"]  %>
            </div>
            <div class="story-card-summary">
              <%= markdown(story['summary'][locale.to_s] || story['summary']['en']) %>
            </div>
            <div class='story-card-footer'>
              <%= render 'stories/user_infos', story: story %>
            </div>
          </main>
          <%= link_to "", story_path(id: story["slug"]), class: "story-card-link" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<%= render partial: "shared/testimonials", locals: {number: 20} %>

