<%= content_for(:title)       { (t ".title").html_safe }       %>
<%= content_for(:description) { t ".catchline" } %>
<%= content_for(:image_url) { image_url 'social/enterprise_card.png' } %>


<div id="enterprise">

  <h1>
    <%= t(".title") %>
    <small><%= t(".catchline") %></small>
  </h1>

  <div class='banner-cta cta-header'>
    <%= link_to 'https://lewagon.typeform.com/to/LOs0uR', target: '_blank', class: 'btn banner-cta-item btn-danger btn-lg' do %>
      <%= t(".cta_banner") %>
    <% end %>
  </div>


  <div class="container enterprise-container">
    <div class="circle"></div>
    <ul class="usecases">
      <li class="usecase"><%= t(".usecase_1") %></li>
      <li class="usecase"><%= t(".usecase_2") %></li>
      <li class="usecase"><%= t(".usecase_3") %></li>
      <li class="usecase">
        <ul>
          <li><%= t(".usecase_4") %></li>
          <li><%= t(".usecase_5") %></li>
          <li><%= t(".usecase_6") %></li>
        </ul>
    </ul>
    <div class='banner-cta'>
      <%= link_to 'https://lewagon.typeform.com/to/LOs0uR', target: '_blank', class: 'btn banner-cta-item btn-danger btn-lg' do %>
        <%= t(".cta_usecases") %>
      <% end %>
    </div>
  </div>

  <div class="fluid-container film-section">
    <div class="container film-container">
      <div class="video-container">
        <div class="video-wrapper">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/0HjKQ8aNS7g" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <blockquote class='video-caption'>
        <p><%= t(".quote_content") %></p>
        <footer><cite><%= t(".quote_author") %></cite></footer>
      </blockquote>
    </div>
  </div>


  <div class="container sales-contact">
    <%= image_tag 'hero/benjamin.jpg', class: 'sales-team' %>
    <div class='banner-cta'>
      <%= link_to 'https://lewagon.typeform.com/to/LOs0uR', target: '_blank', class: 'btn banner-cta-item btn-danger btn-lg' do %>
        <%= t(".cta_contact") %>
      <% end %>
    </div>
    <div class="contact-details">
      <i>ou</i>
      <a href="tel:<%= t(".phone_number").gsub(' ', '') %>"><%= t(".phone_number") %></a>
      <a href="mailto:<%= t(".mail_adress") %>?Subject=Contact%20B2B"><%= t(".mail_adress") %></a>
  </div>
</div>