<%= content_for(:title)       { (t ".title").html_safe }       %>
<%= content_for(:description) { t ".catchline" } %>
<%= content_for(:image_url) { image_url 'social/alumni_card.png' } %>


<div id="enterprise">

  <h1>
    <%= t(".title") %>
    <small><%= t(".catchline") %></small>
  </h1>

  <div class='banner-cta'>
    <%= link_to send(:"program_#{locale.to_s.underscore}_path"), class: 'btn banner-cta-item btn-danger btn-lg' do %>
      <%= t(".cta", default: "Discutons") %>
    <% end %>
  </div>


  <div class="container enterprise-container">
    <div class="circle"></div>
    <ul class="usecases">
      <li class="usecase">Vous avez besoin de recruter des profils techniques</li>
      <li class="usecase">Vous souhaitez freiner le turnover de vos collaborateurs</li>
      <li class="usecase">Vous voulez améliorer la qualité des échanges entre les équipes techniques et les chef de projet</li>
      <li class="usecase">
        <ul>
          <li>Vous voulez faire de vos chefs de projet des “product owner"</li>
          <li>Vous avez besoin d’innover, pour attirer des jeunes profils</li>
          <li>Vous voulez réduire le time to market grace à au méthodologie de lancement d’un MVP</li>
        </ul>
    </ul>
    <div class='banner-cta'>
      <%= link_to send(:"program_#{locale.to_s.underscore}_path"), class: 'btn banner-cta-item btn-danger btn-lg' do %>
        <%= t(".cta_usecase") %>
      <% end %>
    </div>
  </div>

  <div class="container film-container">
    <div class="row">
      <div class="col-md-9">
        <div class="video-container">
          <div class="video-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0HjKQ8aNS7g" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
       <div class="col-md-3">
         <h2 class='section-title-home'>Après une journée au Wagon</h2>
      </div>
    </div>
  </div>


  <div class="container">
    <div class='banner-cta'>
      <%= link_to send(:"program_#{locale.to_s.underscore}_path"), class: 'btn banner-cta-item btn-danger btn-lg' do %>
        <%= t(".cta", default: "Discutons") %>
      <% end %>
    </div>

    <span>or</span>

    Tet : +336 79 78 88 98
    Email: contact@lewagon.com
  </div>
</div>